html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  background-color: hsl(264, 7%, 14%);
  color: hsl(0, 2%, 82%);
  background-color: hsl(0, 0%, 100%);
  color: hsl(264, 7%, 14%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
